<h1>Tu carrito</h1>

<ul id="cart-list">
  {{#if cart.products.length}}
    {{#each cart.products}}
      <li data-product-id="{{product}}">
        <strong>{{nombre}}</strong> - ${{precio}} x 
        <span class="quantity">{{quantity}}</span>
        <button class="btn-decrease" data-id="{{product}}">-</button>
        <button class="btn-increase" data-id="{{product}}">+</button>
        <button class="btn-remove" data-id="{{product}}">Eliminar</button>
      </li>
    {{/each}}
  {{else}}
    <p>Tu carrito está vacío</p>
  {{/if}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>
