<h1>Lista de Productos desde MongoDB</h1>

{{#if products.length}}
  <ul>
    {{#each products}}
  <li>
    <strong>{{nombre}}</strong> - ${{precio}} - Stock: {{stock}} <br>
    <em>{{detalle}}</em>
    <br>
    <button class="add-to-cart" data-id="{{id}}">Agregar al carrito</button>
  </li>
{{/each}}
  </ul>
{{else}}
  <p>Ocurrió un error inesperado</p>
{{/if}}

